@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.post{
  text-align: center;
}
.post p{
  padding: 20px 0;
}
.post img{
  @apply my-2 mx-auto rounded-3xl;
 
}
.post h3 {
  @apply text-2xl font-bold;
}

.post table {
  @apply mx-auto my-2;
}

.post table th{
  @apply border text-2xl p-10;
}

.post table td {
  @apply border text-xl p-4 text-left;
}

.post table img {
  @apply my-10 rounded-3xl;
}
